body {
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAACVBMVEUaGhohISElJSUh9lebAAABwElEQVR4AY3Vua3gOBgGQQXZhgKYgwHJYAA0Ksu9CAh6hxbTbvFzfx6rNEGlHY6z5KvMw4s43mN2Z5fqYLzKyrfyXhXKnKBdD9n58UWW3Vlb3mOCmWoHHZbdV5lv8t7Ver6ldsfqumVAdbblxxcZVcd7QWq2Y6VsadS4ZTzFDbFa5XivqlxVUFG1Jd6k66u8x0RIOw0cXAiNW2z58bJ5r1LTQtVVuy1x2jK+yLTlxy3v5RogszEXSB0ZF4iYWLbMMUBGPDbvpRQUVUV9kvGU6ynrIe9FOqssJcQ4oqurCjV6ytmqco4SwvGeNCoJaphwSHoK13cyuuU9ZaQI0lB1qB8zT3GL2XjKueU9pR+gH0OlqvGUzHWLQ81O0Dg95L3Uj9qxKx0pr3LdYrnlvQKlUEnV/8v4Xt6bThZROwaO5QfTUyY4GCBWu8Wf/nO4ULtj/li3mE9Z47zlx/WU94Iq7RD5XuZ6ynjIGn9yr1VhFaq2NH9s4bP4Rt5j2NFO5MBXGVsmsD5v3gslYORsd8R1i1rrIUoLKLXlvVhgKH7ApToyhk21TJhbLDvdN151vEetJtKdOtYo4SmnOvhGpjpe+xuj3X723ghdygAAAABJRU5ErkJggg==) !important;
  background-color: #222 !important;
  background-clip: border-box !important;
  background-origin: padding-box !important;
  background-attachment: scroll !important;
  background-repeat: repeat !important;
  background-size: 200px !important;
  background-position: left top !important;
  color: #cfcfcf;
}

.navbar-default {
  background-color:#080808 !important;
}

.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar-default.navbar-toggle:hover {
  color: #EEE;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #EEE;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a {
  color: #EEE;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #444;
}

@media only screen and (min-width: 1170px) {
  .navbar-custom.is-fixed {
    background-color:#080808 !important;
  }
  
  .navbar-custom.is-fixed .navbar-brand {
    color: #FFF;
  }

  .navbar-custom.is-fixed .nav li a {
    color: #FFF;
  }
}

a {
  color: #4183C4;
}

code {
  font-family: "Menlo", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  font-size: 18px !important;
  background: #222!important;
  color: #ccc!important;
  border: 1px solid rgba(255, 255, 255, .1) !important;
  border-radius: 5px;
  line-height: 1.5;
  overflow: visible !important;
}

a code {
  color: #79acd1 !important;
}

pre code {
  border: 3px !important;
}

pre, pre.prettyprint {
  padding: 16px !important;
  background: #222!important;
  border: 1px solid rgba(255, 255, 255, .1) !important;
}

.post-title {
  color: #ccc;
}

ul {
  line-height: 1.65;
}

hr {
  border-top: 1px solid #888;
}

.right-border {
  border-right: 1px solid #888;
}

.navbar-default {
  background-color: #00000000;
  border: 0px !important;
}

.pager li > a, .pager li > span {
  border-radius: 3px;
  background: none;
}

footer {
  padding: 64px 0 26px;
}

.follow-button {
  margin-top: 30px;
}

.blockquote {
  color: #e7e9ee;
}